<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>早教知识网 www.zaojiao100.com</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script>
menu = "备孕"
function menu2(text){
	window.location="/keyword/?insearch="+menu+" "+text+"/"
}
</script>
<base target="_blank" />
</head>

<body>
{% load text %}
	<div id="top" class="overflow">
		<div class="logo"><a href="http://www.zaojiao100.com" target="_self"><img src="/images/logo.gif" border="0" /></a></div>
		<div class="ad"><img src="/images/48080.gif" /></div>
	</div>

<div id="guide">
	<ul class="overflow">
		<li><a href="/" {%activemenu word ""%}>首页</a></li>
		<li><a href="/keyword/?insearch=备孕" {%activemenu word "备孕"%} onmouseover="javascript:menu='备孕'">备孕</a></li>
		<li><a href="/keyword/?insearch=怀孕" {%activemenu word "怀孕"%} onmouseover="javascript:menu='怀孕'">怀孕</a></li>
		<li><a href="/keyword/?insearch=产后" {%activemenu word "产后"%} onmouseover="javascript:menu='产后'">产后</a></li>
		<li><a href="/keyword/?insearch=0-1岁" {%activemenu word "0-1岁"%} onmouseover="javascript:menu='0-1岁'">0-1岁</a></li>
		<li><a href="/keyword/?insearch=1-2岁" {%activemenu word "1-2岁"%} onmouseover="javascript:menu='1-2岁'">1-2岁</a></li>
		<li><a href="/keyword/?insearch=2-3岁" {%activemenu word "2-3岁"%} onmouseover="javascript:menu='2-3岁'">2-3岁</a></li>
		<li><a href="/keyword/?insearch=3-6岁" {%activemenu word "3-6岁"%} onmouseover="javascript:menu='3-6岁'">3-6岁</a></li>
		<li><a href="/keyword/?insearch=专家咨询" {%activemenu word "专家咨询"%} onmouseover="javascript:menu='专家咨询'">专家咨询</a></li>
	</ul>
</div>

<div id="guide2">
	<ul class="overflow">
		<li><a href="javascript:menu2('生活提示')">生活提示</a></li>
		<li><a href="javascript:menu2('母胎变化')">母胎变化</a></li>
		<li><a href="javascript:menu2('适时胎教')">适时胎教</a></li>
		<li><a href="javascript:menu2('营养保健')">营养保健</a></li>
		<li><a href="javascript:menu2('疾病护理')">疾病护理</a></li>
		<li><a href="javascript:menu2('常见问题')">常见问题</a></li>
	</ul>
</div>

<div id="search">
<form action="/keyword/" method="GET">
<img src="/images/icon9.gif" />
<h3>育儿知识查询</h3>
<input type="text" class="searchbox" value="{% firstof word "孩子发烧" %}" name="insearch" id="insearch" onclick="this.value=''" />
<select id="type_class" name="type_class">
  <option value="0">全部时期</option>
  <option value="备孕">备孕</option>
  <option value="怀孕">怀孕</option>
  <option value="产后">产后</option>
  <option value="1-2岁">1-2岁</option>
  <option value="2-3岁">2-3岁</option>
  <option value="3-6岁">3-6岁</option>
</select>
<input type="image" src="/images/baby_10.gif" name="Submit" value="提交"/>
</form>
</div>

<div id="recom">
	<ul class="overflow">
	{% for d in data_recoms %}
	  <li><a href="/v/{{d.kid}}/">{{d.title|removetext}}</a></li>
	{% endfor %}
	</ul>
</div>

{% block body %}
{% endblock %}

<div id="bottom">
	<hr />
	<p class="center"><a href="#">关于我们</a> | 联系我们 | 广告投放 | 免责条款 | <a href="/link/">友情链接</a></p>
	<p class="center">
	版权所有：中国早教知识网 联系:zaojiao100@gmail.com<br>
	Copyright © 1998-2009 zaojiao100.com,All Rights Reserved
	</p>
</div>
</body>
</html>