<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block title %}
<title>早教知识网-全国唯一的早教知识查询、搜索网站 育儿 早教 健康 胎教 怀孕</title>
{% endblock %}
{% block keyword %}
<meta name="keyword" content="育儿,孕产,早教,母婴,怀孕,宝宝,早期教育,分娩,早产,胎教,母婴网站,健康,专家,答疑" />
{% endblock %}
{% block description %}
<meta name="description" content="早教知识网是全国唯一的早教知识查询网站.为父母提供权威,安全,免费的怀孕分娩,胎教,育儿,保健,喂养,常见病护理知识,早教知识.年轻父母可以在这里找到与婴幼儿发育,成长,教育有关的全部知识和咨询。">
{% endblock %}
<link href="{{media_url}}/css/style.css" rel="stylesheet" type="text/css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feed.feedsky.com/zaojiao100" />
</head>

<body>
{% load text %}
	<div id="top" class="overflow">
		<div class="logo"><a href="http://www.zaojiao100.com" target="_self"><img src="{{media_url}}/images/logo.gif" border="0" /></a></div>
		<div class="ad">
			<script type="text/javascript"><!--
			google_ad_client = "pub-3900865177765003";
			/* 728x90, 创建于 09-4-2 */
			google_ad_slot = "7369588210";
			google_ad_width = 728;
			google_ad_height = 90;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	</div>

<div id="guide">
	<ul class="overflow">
		<li><a href="/" {%activemenu word ""%}>首页</a></li>
		<li><a href="{{domain}}/keyword/?insearch=备孕" {%activemenu word "备孕"%}>备孕</a></li>
		<li><a href="{{domain}}/keyword/?insearch=怀孕" {%activemenu word "怀孕"%}>怀孕</a></li>
		<li><a href="{{domain}}/keyword/?insearch=产后" {%activemenu word "产后"%}>产后</a></li>
		<li><a href="{{domain}}/keyword/?insearch=0-1岁" {%activemenu word "0-1岁"%}>0-1岁</a></li>
		<li><a href="{{domain}}/keyword/?insearch=1-2岁" {%activemenu word "1-2岁"%}>1-2岁</a></li>
		<li><a href="{{domain}}/keyword/?insearch=2-3岁" {%activemenu word "2-3岁"%}>2-3岁</a></li>
		<li><a href="{{domain}}/keyword/?insearch=3-6岁" {%activemenu word "3-6岁"%}>3-6岁</a></li>
		<li><a href="{{domain}}/keyword/?insearch=专家咨询" {%activemenu word "专家咨询"%}>专家咨询</a></li>
	</ul>
</div>

<div id="guide2">
	<ul class="overflow">
		<li><a href="{{domain}}/keyword/?insearch={{word}}&amp;type_class=生活提示" {%activemenu2 type_class "生活提示"%}>生活提示</a></li>
		<li><a href="{{domain}}/keyword/?insearch={{word}}&amp;type_class=母胎变化" {%activemenu2 type_class "母胎变化"%}>母胎变化</a></li>
		<li><a href="{{domain}}/keyword/?insearch={{word}}&amp;type_class=适时胎教" {%activemenu2 type_class "适时胎教"%}>适时胎教</a></li>
		<li><a href="{{domain}}/keyword/?insearch={{word}}&amp;type_class=营养保健" {%activemenu2 type_class "营养保健"%}>营养保健</a></li>
		<li><a href="{{domain}}/keyword/?insearch={{word}}&amp;type_class=疾病护理" {%activemenu2 type_class "疾病护理"%}>疾病护理</a></li>
		<li><a href="{{domain}}/keyword/?insearch={{word}}&amp;type_class=常见问题" {%activemenu2 type_class "常见问题"%}>常见问题</a></li>
	</ul>
</div>

<div id="search">
<form action="{{domain}}/keyword/" method="GET">
<img src="{{media_url}}/images/icon9.gif" />
<h3>育儿知识查询</h3>
<input type="text" class="searchbox" value="{% firstof word "孩子发烧" %}" name="insearch" onclick="this.value=''" />
<select id="type_class" name="type_class">
  <option value="0">全部时期</option>
  <option value="备孕">备孕</option>
  <option value="怀孕">怀孕</option>
  <option value="产后">产后</option>
  <option value="1-2岁">1-2岁</option>
  <option value="2-3岁">2-3岁</option>
  <option value="3-6岁">3-6岁</option>
</select>
<input type="image" src="{{media_url}}/images/baby_10.gif" name="Submit" value="提交"/>
</form>
</div>

<div id="recom">
	<ul class="overflow">
	{% for d in data_recoms %}
	  <li><a href="{{domain}}/v/{{d.kid}}/" target="_blank">{{d.title|removetext}}</a></li>
	{% endfor %}
	</ul>
</div>

{% block body %}
{% endblock %}

<div id="bottom">
	<hr />
	<p class="center"><a href="#">关于我们</a> | 联系我们 | 广告投放 | 免责条款 | <a href="/link/">友情链接</a></p>
	<p class="center">
	版权所有：中国早教知识网 联系:zaojiao100@gmail.com<br>
	Copyright © 1998-2009 zaojiao100.com,All Rights Reserved
	</p>
	<script type="text/javascript" src="http://js.tongji.cn.yahoo.com/1032180/ystat.js"></script><noscript><a href="http://tongji.cn.yahoo.com"><img src="http://img.tongji.cn.yahoo.com/1032180/ystat.gif"/></a></noscript>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8718662-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>