{% extends "base.html" %}

{% load text %}

{% block title %}
<title>{{obj.title|removetext}}-{{title}}-早教知识网</title>
{% endblock %}

{% block description %}
<meta name="description" content="{{obj.memo|slice:50}} {{title}}">
{% endblock %}

{% block body %}

<div class="content overflow">
	<div id="main">
		<div id="info">
			<h3>{{obj.title|removetext}}</h3>
			<span>{{obj.datetime}}</span>
			<hr />
			{{obj.memo|linebreaksbr}}
		</div>
	</div>

	<div id="right">
		<div class="ad230">
			<script type="text/javascript"><!--
			google_ad_client = "pub-3900865177765003";
			/* 200x200, 创建于 09-4-2 */
			google_ad_slot = "4982816628";
			google_ad_width = 200;
			google_ad_height = 200;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	
		<div class="pink margin_bottom">
			<dl >
				<dt><img src="/images/icon1.gif"/>相关文章</dt>
				{% for d in rel_page %}
				<dd><a href="/v/{{d.1}}/" target="_blank">{{d.0|removetext}}</a></dd>
				  {% endfor %}
				<dd class="more"><h4><a href="#">更多>></a></h4></dd>
			</dl>
		</div>
		
	</div>
</div>

{% endblock %}
