{% extends "base.html" %}

{% block body %}

{% load text %}

<div id="recom">
	<ul class="overflow">
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	</ul>
</div>

<div id="guide">
	<ul class="overflow">
		<li><a href="#" class="active">备孕</a></li>
		<li><a href="#">怀孕</a></li>
		<li><a href="#">分娩期</a></li>
		<li><a href="#">0-1岁</a></li>
		<li><a href="#">1-2岁</a></li>
		<li><a href="#">2-3岁</a></li>
		<li><a href="#">3-6岁</a></li>
		<li><a href="#">专家咨询</a></li>
	</ul>
</div>

<div id="guide2" style="display:none">
	<ul class="overflow">
		<li><a href="#" class="active">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
	</ul>
</div>

<div class="content overflow">
	<div id="main">
		<div id="info">
			<h3>{{obj.title|removetext}}</h3>
			<span style="display:none">2009年3月1日 作者：爱谁谁</span>
			<hr />
			{{obj.addpinyin|linebreaksbr}}
		</div>
	</div>

	<div id="right">
		<div class="ad230">广告位 230</div>
	
		<div class="pink margin_bottom">
			<dl >
				<dt><img src="/images/icon1.gif"/>相关文章</dt>
				{% for d in rel_page %}
				<dd><a href="/v/{{d.1}}/">{{d.0|removetext}}</a></dd>
				  {% endfor %}
				<dd class="more"><h4><a href="#">更多>></a></h4></dd>
			</dl>
		</div>
		
	</div>
</div>

{% endblock %}
