{% extends "base.html" %}

{% block body %}
<script type="text/javascript" charset="utf-8">
	function search () {
		window.location="/keyword/?insearch="+document.getElementById("insearch").value
	}
</script>

{% load text %}

<div id="search">
<img src="/images/icon9.gif" />
<h3>育儿知识查询</h3>
<input type="text" class="searchbox" value="{{insearch}}" name="insearch" id="insearch" />
<select>
  <option selected="selected">全部时期</option>
  <option>备孕</option>
  <option>怀孕</option>
  <option>分娩期</option>
  <option>1-2岁</option>
  <option>2-3岁</option>
  <option>3-6岁</option>
</select>
<input type="image" src="/images/baby_10.gif" name="Submit" value="提交" onclick="search()" />
</div>

<div id="recom">
	<ul class="overflow">
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	  <li><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></li>
	</ul>
</div>

<div id="guide">
	<ul class="overflow">
		<li><a href="#" class="active">备孕</a></li>
		<li><a href="#">怀孕</a></li>
		<li><a href="#">分娩期</a></li>
		<li><a href="#">0-1岁</a></li>
		<li><a href="#">1-2岁</a></li>
		<li><a href="#">2-3岁</a></li>
		<li><a href="#">3-6岁</a></li>
		<li><a href="#">专家咨询</a></li>
	</ul>
</div>

<div id="guide2" style="display:none">
	<ul class="overflow">
		<li><a href="#" class="active">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
		<li><a href="#">二级分类</a></li>
	</ul>
</div>

<div class="content overflow">
	<div id="main">
		<div id="info">
			<h3>{{obj.title|removetext}}</h3>
			<span style="display:none">2009年3月1日 作者：爱谁谁</span>
			<hr />
			{{obj.addpinyin|linebreaksbr}}
		</div>
	</div>

	<div id="right">
		<div class="ad230">广告位 230</div>
	
		<div class="pink margin_bottom">
			<dl >
				<dt><img src="/images/icon1.gif"/>相关文章</dt>
				<dd><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></dd>
				<dd><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></dd>
				<dd><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></dd>
				<dd><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></dd>
				<dd><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></dd>
				<dd><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></dd>
				<dd><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></dd>
				<dd><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></dd>
				<dd><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></dd>
				<dd><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></dd>
				<dd><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></dd>
				<dd><h4><a href="#">[优生]</a></h4><a href="#">优生：一滴血筛查5种病毒</a></dd>
				<dd class="more"><h4><a href="#">更多>></a></h4></dd>
			</dl>
		</div>
		
	</div>
</div>

{% endblock %}
