{% extends "base.html" %}

{% block body %}

<div class="content overflow">
	<div id="main">
		<h5>友情链接</h5>
		{% if notbot %}
		<p>
			<a href="http://www.newswim.net/" target="_blank">newswim</a>
			<a href="http://www.boypark.cn/" target="_blank">boypark</a>
			<a href="http://www.n08.net" target=_blank>网址免费收录</a>
			<a title="中国站长天空,站长建站乐园" href="http://www.zzsky.cn" target="_blank">中国站长天空</a>
<a href='http://zzxgj.com/link/fid,9554'>友情链接</a>
	<a href=http://www.httpmap.com target=_blank>友情链接交换网</a>
<a href="http://www.liushiyu.net" target="_blank">星雪宝宝</a>
	<a href="http://www.jinshumao.com" target="_blank">金鼠猫猫de成长</a>
<a href="http://www.yangxirui.cn" target="_blank">睿睿宝贝</a>
<a href="http://www.52ber.com" target="_blank">贝儿博客</a>
<a href="http://www.maple-angel.com.cn/default.asp" target="_blank">天使猫屋</a>
<a href="http://xiaomisky.com/" target="_blank">家有小米</a>
<a href="http://www.qyzengstory.com/" target="_blank">曾庆言.成长的故事</a>
<a href="http://www.taoyiran.com/" target="_blank">祎然小家</a>
<a href="http://www.tetebaobei.cn/" target="_blank">特特宝贝</a>
<a href="http://www.i-yoyo.cn" target="_blank">爱·柔柔</a>
<a href="http://www.jenny-aimee.com" target="_blank">简·艾</a>
<a href="http://pzz88.cn" target="_blank">友情链接</a>
<a href=http://www.uu61.com target=_blank>优优网站收录</a>
<a href="http://www.feiyang-ycm.com/blog" target="_blank" title="伊伊成长记录">伊伊成长记录</a>
<a href="http://www.yufankathy.com/diary/" target="_blank">岁月花环</a>
<a href="http://www.caowenye.com/blog/index.asp" target="_blank">一路上有你</a>
<a href="http://www.xytwins.com/" target="_blank">小园香径</a>
<a href="http://wangmingchen.com" target="_blank" title="快乐晨长">快乐晨长</a>
<a href="http://www.tianchengbaby.com" target="_blank" title="">爱多杂记</a>
<a href="http://www.ttsister.com/baby" target="_blank" title="快乐彤年">快乐彤年</a>
<a href="http://www.zhengbb.com" target="_blank" title="">天地之间</a>
<a href="http://www.yyxz.net.cn" target="_blank" title="">余余小站</a>
<a href="http://www.heyufei.com" target="_blank">小雨霏霏</a>
<a href="http://www.lovexiaodu.com" target="_blank">小嘟的小小窝</a>
<a href="http://www.qian-qian.cn" target="_blank">千千的幸福花园</a>
<a href="http://www.kekebaby.com" target="_blank">可儿的BLOG窝窝</a>
<a href="http://www.zipai.com" target="_blank">自拍</a>
<a href="http://www.45161.cn" target="_blank">温州都市影院</a>
<a href="http://www.zhuzhu.name" target="_blank">小茱窝</a>
<a href="http://www.maohh.com" target="_blank">毛鸿昊的成长日记</a>
<a href="http://www.52ber.com/" target="_blank">贝儿宝贝</a>
<a href="http://www.coodir.com/" title="免费收录各类优秀网站" >酷站目录</a>
</p>
		{% endif %}
	</div>

	<div id="right">
		<div class="ad230">广告位 230</div>
		<div class="ad230">广告位 230</div>
		<div class="ad230">广告位 230</div>
	
	</div>
</div>


{% endblock %}
