/* CSS Document */

* { margin:0; padding:0;}
body { font-size:12px; line-height:180%;}
ul { list-style:none;}
h4 { font-size:12px; font-weight: normal;display:inline; margin-right:3px;}
a:link,a:visited { color:#333; text-decoration:none;}
a:hover,a:active { color:#FF0000; text-decoration:underline;}
.overflow{overflow:auto;zoom:1; }
.center { text-align:center;}

#top,#bottom  { width:970px; margin:8px auto;}
#bottom { float:left; }
#top .logo { float:left; margin:0 5px; }
#top .ad { float:right;}
#bottom a { color:#0033CC; text-decoration:underline;}

#guide  { width:970px; margin:0 auto;margin-top:8px;}
#guide ul { background:url(../images/baby2_3.gif) repeat-x; height:34px; padding-left:50px; border-left:1px solid #DAD7CF; border-right:1px solid #DAD7CF;}
#guide li { float:left;}
#guide li a { font-size:14px; display:block;width:91px;text-align:center; line-height:34px;}
#guide li a:link,#guide li a:visited {background:url(../images/baby2_7.gif) no-repeat; }
#guide li a:hover,#guide li a:active,#guide li a.active {background: url(../images/baby2_5.gif) no-repeat; }

#guide2 { width:970px; margin:0 auto; margin-bottom:8px; background:#FAFAFA; border:1px solid #E8E8E8; border-top:0;}
#guide2 ul { margin:8px;}
#guide2 li { float:left; margin-right:10px;}
#guide2 li a { display:block; padding:2px 4px;}
#guide2 li a:hover,#guide2 li a:active,#guide2 li a.active { background:#FCFFD5; border:1px solid #FCD184;}

#search,#recom { width:970px; margin: 0 auto;}
#search { height:53px; background:url(../images/baby_7.gif) repeat-x; border:1px solid #78C368; text-align:center;font-weight:bold; line-height:53px; color:#FFF; position:relative;}
#search img { position:absolute; left:105px;}
#search h3 { display:inline; font-size:14px; }
#search input { vertical-align:middle;}
#search select { font-size:17px;vertical-align:middle;}
#search .searchbox { width:380px; height:28px; line-height:28px; background:#fff; font-size:14px;  border:1px  solid #8ED0A5; margin:0 3px; padding:0 5px;  color:#999999;}

#recom { background:#F6F8FB; border:1px solid #E2E8ED; }
#recom ul { margin:8px;  }
#recom li { float:left; width:230px; }
#recom li h4 a:link,#recom li h4 a:visited { color:#333; text-decoration:underline; }
#recom li a:link,#recom li a:visited { color:#678DA9;}

.content { width:970px; margin:10px auto;}
#main { float:left; width:730px; border:1px solid #EEEEEE;}
#main h3 { font-size:12px; font-weight:normal; margin:8px 10px; text-align:center; clear:both;}
#main h5 { font-size:12px; margin:8px 10px;}
#main ul { margin:8px 10px;float:left; width:320px;}
#main li a { font-size:14px;}
#main li span { font-size:10px; font:Verdana; color:#999; margin-left:10px;}
#right { float:right; width:230px;}

#right .ad230 { margin-bottom:10px; }

#info { margin:8px 25px;}
#info h3 { font-size:16px; text-align:center; font-weight:bold;}
#info span { display:block; text-align:center; color:#666;}
#info p { margin:4px 0;}

.pink,.blue { width:230px;position:relative; float:left;}
.margin_left { margin-left:16px;}
.margin_bottom { margin-bottom:10px;}
.pink dl { border:1px solid #EEDAC0;  }
.pink dt { background:url(../images/baby_15.gif) no-repeat; height:30px; line-height:30px; text-align:right; color:#C5955A; font-weight:bold; font-size:14px; padding-right:8px;margin-bottom:6px;}
.pink dt img,.blue dt img { position: absolute; width:36px; height:32px; left:16px; top:-5px;}
.pink dd,.blue dd { padding:0 5px;}
.pink dd h4 a:link,.pink dd h4 a:visited { color:#333; text-decoration:underline; }
.pink dd a:link,.pink dd a:visited {color:#C5955A;}
.pink dd.more,.blue dd.more { text-align:right;}

.blue dl { border:1px solid #D6E1EB;   }
.blue dt { background: url(../images/baby_21.gif) no-repeat; height:30px;  line-height:30px; text-align:right; color:#678DA9; font-weight:bold; font-size:14px; padding-right:8px; margin-bottom:6px;}
.blue dd h4 a:link,.blue dd h4 a:visited { color:#333; text-decoration:underline; }
.blue dd a:link,.blue dd a:visited {color:#678DA9;}

.ad970 { width:970px; margin:8px auto;}

#special { width:970px; margin:8px auto;}
#special dl { background:#F6FDEA; border:1px solid #8AAD4C;}
#special dt { background:url(../images/baby_25.gif) repeat-x; height:34px; line-height:34px; color:#FFF; padding-left:20px; font-size:14px; font-weight:bold;}
#special dd { padding:4px 10px;}
#special dd h3 { font-size:14px;}
#special dd h3 a:link,#special dd h3 a:visited { text-decoration:underline;}
#special dd span a:link,#special dd span a:visited { color:#63950C; text-decoration:underline;}

#label { background:#F1F8FE; border:1px solid #3E949D; width:970px; margin:8px auto;}
#label h3 { background:url(../images/baby_28.gif) repeat-x; height:34px; padding-left:20px; color:#FFF; font-size:14px; line-height:34px;}
#label ul { float:left; margin-top:10px;  margin-bottom:8px;width:220px;}
#label ul li { display:inline; margin-right:5px;}
#label ul li h5 { font-size:14px;}
#label a { color: #006699; text-decoration:underline;}
#label a:hover,#label a:active { color:#FF0000;}
